<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>突然好想你</string>
		<key>filename</key>
		<string>突然好想你.mp3</string>
		<key>lrcname</key>
		<string>突然好想你.lrc</string>
		<key>singer</key>
		<string>五月天</string>
		<key>singerIcon</key>
		<string>五月天_icon.jpg</string>
		<key>icon</key>
		<string>五月天.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>盛夏光年</string>
		<key>filename</key>
		<string>盛夏光年.mp3</string>
		<key>lrcname</key>
		<string>盛夏光年.lrc</string>
		<key>singer</key>
		<string>五月天</string>
		<key>singerIcon</key>
		<string>五月天_icon.jpg</string>
		<key>icon</key>
		<string>五月天.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>温柔</string>
		<key>filename</key>
		<string>温柔.mp3</string>
		<key>lrcname</key>
		<string>温柔.lrc</string>
		<key>singer</key>
		<string>五月天</string>
		<key>singerIcon</key>
		<string>五月天_icon.jpg</string>
		<key>icon</key>
		<string>五月天.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>咸鱼</string>
		<key>filename</key>
		<string>咸鱼.mp3</string>
		<key>lrcname</key>
		<string>咸鱼.lrc</string>
		<key>singer</key>
		<string>五月天</string>
		<key>singerIcon</key>
		<string>五月天_icon.jpg</string>
		<key>icon</key>
		<string>五月天.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>知足</string>
		<key>filename</key>
		<string>知足.mp3</string>
		<key>lrcname</key>
		<string>知足.lrc</string>
		<key>singer</key>
		<string>五月天</string>
		<key>singerIcon</key>
		<string>五月天_icon.jpg</string>
		<key>icon</key>
		<string>五月天.jpg</string>
	</dict>
</array>
</plist>
